@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Manrope';
}

a {
  text-decoration: none;
}

a:hover, button:hover {
  cursor: pointer;
}

body header {
  max-width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000000;
}

body header nav.container {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.199);
}

body header nav.container div.burger-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header nav.container div.burger-container div.burger {
  width: 0;
  height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header nav.container div.burger-container div.burger div.div-burger-lines {
  width: 0;
  height: 0px;
  background-color: #fff;
}

body header nav.container .nav-links {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header nav.container .nav-links a {
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
}

body header nav.container .nav-links a:hover {
  color: #D87D4A;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main section.promo {
  background-color: #000;
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1.42857px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 50px 0;
}

body main section.headphone_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 560px;
  margin-top: 100px;
}

body main section.headphone_1 div.container-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
  background-color: #f1f1f1;
}

body main section.headphone_1 div.container-left div.circle {
  width: 200px;
  height: 20px;
  background-color: #212121;
  border-radius: 100%;
  -webkit-filter: blur(35px);
          filter: blur(35px);
}

body main section.headphone_1 div.container-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main section.headphone_1 div.container-right div.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  height: 60%;
}

body main section.headphone_1 div.container-right div.container p:first-of-type {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #D87D4A;
}

body main section.headphone_1 div.container-right div.container h2 {
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 1.42857px;
  text-transform: uppercase;
  color: #000000;
  line-height: 44px;
}

body main section.headphone_1 div.container-right div.container p:nth-of-type(2) {
  font-weight: 500;
  font-size: 15px;
  color: #000000;
  opacity: 0.5;
}

body main section.headphone_1 div.container-right div.container button {
  width: 160px;
  height: 48px;
  border-radius: 0;
  background-color: #D87D4A;
  border: 0;
  font-size: 13px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

body main section.headphone_1 div.container-right div.container button:hover {
  background-color: #FBAF85;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body main section.headphone_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 560px;
  margin-top: 100px;
}

body main section.headphone_2 div.container-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
  background-color: #f1f1f1;
}

body main section.headphone_2 div.container-right div.circle {
  width: 200px;
  height: 20px;
  background-color: #212121;
  border-radius: 100%;
  -webkit-filter: blur(35px);
          filter: blur(35px);
}

body main section.headphone_2 div.container-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main section.headphone_2 div.container-left div.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  height: 50%;
}

body main section.headphone_2 div.container-left div.container h2 {
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 1.42857px;
  text-transform: uppercase;
  color: #000000;
  line-height: 44px;
}

body main section.headphone_2 div.container-left div.container p {
  font-weight: 500;
  font-size: 15px;
  color: #000000;
  opacity: 0.5;
}

body main section.headphone_2 div.container-left div.container button {
  width: 160px;
  height: 48px;
  border-radius: 0;
  background-color: #D87D4A;
  border: 0;
  font-size: 13px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

body main section.headphone_2 div.container-left div.container button:hover {
  background-color: #FBAF85;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body main section.headphone_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 560px;
  margin: 100px 0;
}

body main section.headphone_3 div.container-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 8px;
  background-color: #f1f1f1;
}

body main section.headphone_3 div.container-left div.circle {
  width: 200px;
  height: 20px;
  background-color: #212121;
  border-radius: 100%;
  -webkit-filter: blur(35px);
          filter: blur(35px);
}

body main section.headphone_3 div.container-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main section.headphone_3 div.container-right div.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  height: 50%;
}

body main section.headphone_3 div.container-right div.container h2 {
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 1.42857px;
  text-transform: uppercase;
  color: #000000;
  line-height: 44px;
}

body main section.headphone_3 div.container-right div.container p {
  font-weight: 500;
  font-size: 15px;
  color: #000000;
  opacity: 0.5;
}

body main section.headphone_3 div.container-right div.container button {
  width: 160px;
  height: 48px;
  border-radius: 0;
  background-color: #D87D4A;
  border: 0;
  font-size: 13px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

body main section.headphone_3 div.container-right div.container button:hover {
  background-color: #FBAF85;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body main section.products-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main section.products-section div.products {
  min-width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
}

body main section.products-section div.products article.product-cards {
  position: relative;
  width: calc(33% - 10px);
  min-height: 204px;
  border-radius: 8px;
  background-color: #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main section.products-section div.products article.product-cards img {
  position: absolute;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  top: -70px;
}

body main section.products-section div.products article.product-cards .circle {
  width: 150px;
  height: 30px;
  background-color: #212121;
  border-radius: 100%;
  -webkit-filter: blur(35px);
          filter: blur(35px);
  bottom: 0;
}

body main section.products-section div.products article.product-cards h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}

body main section.products-section div.products article.product-cards div.span span:first-of-type {
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  opacity: 0.5;
  cursor: pointer;
}

body main section.products-section div.products article.product-cards:hover div.span {
  color: #ff5900;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body main section.description {
  width: 80%;
  height: 588px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

body main section.description .container-left {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main section.description .container-left div.container {
  width: 85%;
}

body main section.description .container-left div.container span {
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.42857px;
  text-transform: uppercase;
  color: #000000;
}

body main section.description .container-left div.container span span {
  color: #D87D4A;
}

body main section.description .container-left div.container p {
  margin-top: 32px;
  text-transform: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #00000080;
}

body main section.description .img-guy {
  width: 50%;
  height: 588px;
  border-radius: 8px;
  background-image: url(/img/guy.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 400px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #101010;
  margin-top: 100px;
}

body footer .container {
  width: 70%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body footer .container .line {
  width: 100px;
  height: 4px;
  background-color: #D87D4A;
}

body footer .container div.container-top {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body footer .container div.container-top div.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}

body footer .container div.container-top div.nav-links a {
  color: #fff;
}

body footer .container div.container-top div.nav-links a:hover {
  color: #D87D4A;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body footer .container div.container-bottom {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body footer .container div.container-bottom .paragraph {
  width: 55%;
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
  opacity: 0.5;
  font-weight: 500;
}

body footer .container div.container-bottom div.social-m {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  width: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body footer .container div.container-bottom div.social-m a {
  color: #fff;
}

body footer .container div.container-bottom div.social-m a i {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  color: #fff;
}

body footer .container div.container-bottom div.social-m a i:hover {
  color: #D87D4A;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body footer .container div.paragraph {
  width: 50%;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  opacity: 0.5;
}

@media screen and (max-width: 992px) {
  body main section.headphone_1 {
    margin: 50px 0;
    height: 700px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main section.headphone_1 div.container-left {
    width: 100%;
  }
  body main section.headphone_1 div.container-right {
    width: 100%;
  }
  body main section.headphone_1 div.container-right div.container {
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    text-align: center;
  }
  body main section.headphone_2 {
    margin: 50px 0;
    height: 700px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  body main section.headphone_2 div.container-left {
    width: 100%;
  }
  body main section.headphone_2 div.container-left div.container {
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    text-align: center;
  }
  body main section.headphone_2 div.container-right {
    width: 100%;
  }
  body main section.headphone_3 {
    margin: 50px 0;
    height: 700px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main section.headphone_3 div.container-left {
    width: 100%;
  }
  body main section.headphone_3 div.container-right {
    width: 100%;
  }
  body main section.headphone_3 div.container-right div.container {
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    text-align: center;
  }
  body main section.description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 0;
    height: 638px;
  }
  body main section.description .container-left {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main section.description .container-left div.container {
    width: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  body main section.description .img-guy {
    background-image: url(/img/guy-tablet.png);
    width: 100%;
    background-size: cover;
    margin-bottom: 50px;
  }
  body footer .container {
    width: 90%;
  }
  body footer .container div.container-top {
    height: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  body footer .container div.paragraph {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  body header nav.container div.burger-container {
    width: 40%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body header nav.container div.burger-container div.burger {
    width: 16px;
    height: 15px;
  }
  body header nav.container div.burger-container div.burger div.div-burger-lines {
    width: 100%;
    height: 3px;
  }
  body header nav.container .nav-links {
    display: none;
  }
}

@media screen and (max-width: 552px) {
  body header nav.container div.burger-container {
    width: calc(65% + 15px);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body header nav.container div.burger-container div.burger {
    width: 16px;
    height: 15px;
  }
  body header nav.container div.burger-container div.burger div.div-burger-lines {
    width: 100%;
    height: 3px;
  }
  body main section.products-section div.products {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 100px;
    padding-bottom: 80px;
  }
  body main section.products-section div.products article.product-cards {
    min-width: 80vw;
    margin-bottom: 80px;
  }
  body main section.products-section div.products article.product-cards img {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  body main section.products-section div.products article.product-cards .circle {
    width: 120px;
  }
  footer {
    height: 500px;
  }
  footer .container {
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .container .line {
    margin-bottom: 60px;
  }
  footer .container div.container-top {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .container div.container-top div.nav-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .container div.container-top div.nav-links a {
    margin-bottom: 20px;
  }
  footer .container div.paragraph {
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }
  footer .container div.container-bottom {
    min-height: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style_headphones.css.map */